<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>hoppin</display-name>
  <welcome-file-list>
    <welcome-file>Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Authentication</display-name>
    <servlet-name>Authentication</servlet-name>
    <servlet-class>Authentication</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Authentication</servlet-name>
    <url-pattern>/Authentication</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>DebugCookies</display-name>
    <servlet-name>DebugCookies</servlet-name>
    <servlet-class>DebugCookies</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DebugCookies</servlet-name>
    <url-pattern>/DebugCookies</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
  
  <filter>
    <display-name>AuthFilter</display-name>
    <filter-name>AuthFilter</filter-name>
    <filter-class>AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthFilter</filter-name>
    <url-pattern>/AuthFilter</url-pattern>
    <url-pattern>/HomePage.jsp</url-pattern>
    
    <url-pattern>/PackagesManagement</url-pattern>
    <url-pattern>/PackagesManagement.jsp</url-pattern>
    
    <url-pattern>/ReservationManagement</url-pattern>
     <url-pattern>/ReservationManagement.jsp</url-pattern>
     
     <url-pattern>/FinanceManagement</url-pattern>
      <url-pattern>/FinanceManagement.jsp</url-pattern>
      
       <url-pattern>/EmployeeManagement.jsp</url-pattern>
       <url-pattern>/EmployeeManagement</url-pattern>
  </filter-mapping>
  
   <servlet>
    <description></description>
    <display-name>EmployeeManagement</display-name>
    <servlet-name>EmployeeManagement</servlet-name>
    <servlet-class>EmployeeManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeManagement</servlet-name>
    <url-pattern>/EmployeeManagement</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>FinanceManagement</display-name>
    <servlet-name>FinanceManagement</servlet-name>
    <servlet-class>FinanceManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinanceManagement</servlet-name>
    <url-pattern>/FinanceManagement</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <description></description>
    <display-name>ReservationManagement</display-name>
    <servlet-name>ReservationManagement</servlet-name>
    <servlet-class>ReservationManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReservationManagement</servlet-name>
    <url-pattern>/ReservationManagement</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>PackagesManagement</display-name>
    <servlet-name>PackagesManagement</servlet-name>
    <servlet-class>PackagesManagement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PackagesManagement</servlet-name>
    <url-pattern>/PackagesManagement</url-pattern>
  </servlet-mapping>
</web-app>
